#CKTSCORES{
    text-align: left;
}

.header{
    text-align: left;
    font-weight: bold;
    color: skyblue;
}

.logos{
    height: 20px;
    width: 40px;
    padding-right: 5px;
}



td{
    padding-right: 20px;
    text-align: left
}

th{
    padding-right: 20px;
    text-align: center
}

#matchStatus{
    padding-left: 10px;
    color: grey;
}

.matchTitle{
    transition: width 2s;
}

#lastUpdt{
    text-align: left;
    font-size: 14px;
}

#numItems{
    padding-left: 100px;
    text-align: right;
    font-size: 14px;
}